# dependencies
/node_modules

# next.js
/.next
/out

# environment (НИКОГДА не пушить — там пароли от БД!)
.env
.env.local
.env*.local

# загруженные файлы (рантайм-данные, не храним в git)
/public/uploads/*
!/public/uploads/.gitkeep

# misc
*.tsbuildinfo
next-env.d.ts
.DS_Store
npm-debug.log*
